<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>The PolicyKit Project</vendor>
  <vendor_url>http://hal.freedesktop.org/docs/PolicyKit/</vendor_url>

  <action id="com.deepin.dde.passkey.dcc-plugin.register">
    <description>Authentication policy for dcc-plugin-passkey registration</description>
    <description xml:lang="zh_CN">控制中心插件安全密钥的注册认证策略</description>
    <message>Authentication is required to enable login authentication using a passkey</message>
    <message xml:lang="zh_CN">开启登录认证使用安全密钥需要认证</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>
</policyconfig>
