# SPDX-FileCopyrightText: 2023 UnionTech Software Technology Co., Ltd.
#
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=Deepin passkey service

[Service]
Type=dbus
BusName=org.deepin.Passkey1
User=root
# TODO 验证tss组是否可以处理fido
#SupplementaryGroups=tss
ExecStart=/usr/bin/deepin-passkey
# 需要访问/sys/devices/virtual/dmi/id/product_uuid
ProtectSystem=strict
InaccessiblePaths=-/etc/shadow
InaccessiblePaths=-/etc/NetworkManager/system-connections
InaccessiblePaths=-/etc/pam.d
InaccessiblePaths=-/usr/share/uadp/
ReadWritePaths=-/usr/share/deepin-passkey/

NoNewPrivileges=yes
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateMounts=yes
PrivateTmp=yes
# 处理fido
#PrivateDevices=yes
PrivateNetwork=yes
# 需要读取/proc的exe字段数据
#PrivateUsers=yes
RestrictNamespaces=yes
LockPersonality=yes
RestrictRealtime=yes
RemoveIPC=yes
MemoryDenyWriteExecute=yes
